
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-web-kit-sizing: border-box;
	box-sizing: border-box;
}

header {border: 1px solid black; background-color:dimgray; padding: 5px 1em; margin: 5px 5%;}
header .logo  {
  display: block;
  margin-right: 1em;
  width: 20%;
  float: left;}


/* the styles for the navigation menu */
/* Add a green background color to the top navigation */
.topnav {
  background-color: dimgray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 6px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:lightgray;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color:#000000;
  color: white;}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 45em wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 45em) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 45em) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
	clear: both;
    display: block;
    text-align: left;
  }
}


@media only screen and (min-width: 38em) {
	p {padding: 5px 5%;}
	article {width:60%; float:left; margin-right:0;}
	aside {width:28%; float:right; margin-left:0;}
	footer {clear:both;}
	}

