
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-web-kit-sizing: border-box;
	box-sizing: border-box;
}

header {border: 1px solid green; background-color:green; padding: 10px 1em; margin: 10px 5%; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";}
header .cslogo  {
  display: block;
  margin-right: 1em;
  width: 7%;
  float: left;}
header .emslogo  {
  display: block;
  margin-left: 1em;
  width: 7%;
  float: right;}
article {
	padding:10px 1em; margin:0 5% 10px;}
aside {
	padding:10px 1em; margin:0 5% 10px;}
footer {border: 1px solid green; background-color:green; padding:10px 1em; margin:0 5% 10px; color:white;}


/* the styles for the navigation menu */
/* Add a green background color to the top navigation */
.topnav {
  background-color: green;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 6px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 45em wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 45em) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 45em) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
	clear: both;
    display: block;
    text-align: left;
  }
}

h1 {font-size: 2em; color: white; font-weight: bold; padding-left: 110px; margin: 5px 0;}
h2 {font-size: 1.5em; color: navy; font-weight: bold; text-align: center;}
h3 {font-size: 1.3em; color: black; font-weight: bold; text-align: center;}
p {font-size: 1em; margin: 5px 0;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Styles for the Table on the Immunizations|Titers Page*/
/* Table Styles */

table {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid green;
}
table th, table td {
	border: 1px solid green;
	line-height: 1em;
	padding: 5px;
}
table th { 
	background-color: green;	
	color: white;
	font-weight: normal;
}
table td {
	color: black;
	font-size: 0.9em;	
	vertical-align: top;
}

/*Styles for the Description List on the TB|Tdap|Flu Shot Page*/
dl {
	margin-left:auto;
  margin-right:auto;
    border: 3px double green;
    padding: 0.5em;
  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: green;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin-left: 110px;
 }

/*Styles for Ordered and Unordered Lists*/
ol {
	counter-reset:li; 
	
	padding:0 2em; 
}
ol > li {
	position:relative; 
	margin:0 0 6px 2em; 
	padding:4px 8px; 
	list-style:none; 
	border-top:2px solid green;
	background:white;
}
ol > li:before {
	content:counter(li); 
	counter-increment:li; 
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	margin-right:8px;
	padding:4px;
	border-top:2px solid green;
	color:#fff;
	background:green;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

ul {
	list-style-position: outside;
	list-style-type:disc;
	padding: 0 5em;
}
/* Styles for the contact form on contact page*/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical 
}

/* Submit button*/
input[type=submit] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #bbb;
}

/* Add a background color and some padding around the form */
.contact {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

@media only screen and (min-width: 38em) {
	p {padding: 5px 5%;}
	article {width:60%; float:left; margin-right:0;}
	aside {width:28%; float:right; margin-left:0;}
	footer {clear:both;}
	}

